.header {
  position: fixed;
  top: 0;
  margin-left: 0;
  padding: 1rem 1rem 0rem 1rem;
  background-color: var(--dark-background-blur);
  width: 98%;
  max-width: 1280px;
  backdrop-filter: blur(10px);
}

.header-items {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-start {
  width: 25%;
  padding-left: 0;
  display: flex;
}

.header-nav {
  display: flex;
  width: 60%;
}

.header-icons {
  display: flex;
  justify-content: flex-end;
  width: 15%;
  padding-right: 0.25rem;
}

.home-name {
  font-weight: 500;
  font-size: 24px;
}

.home-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-button {
  background-color: var(--dark-background);
  width: 3rem;
  height: 3rem;
  padding: 0rem;
}
