.project {
  background-color: var(--dark-panels);
  padding: 1rem 1rem 1rem 1rem;
  width: 16rem;
  height: 200px;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly; */
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  background-color: var(--dark-background-buttons);
  border: 2px solid var(--dark-background-buttons-border);
  padding: 6px 10px;
}

.buttons:hover {
  color: var(--text-primary);
}

.date {
  padding: 1rem 0px 0px 0px;
  color: var(--text-secondary);
}

.name {
  margin-top: 15px;
  margin-block-start: 0em;
  color: var(--text-primary);
}
p {
  margin-block-start: 0em;
}
