.project {
  background-color: var(--dark-panels);
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 16rem;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  background-color: var(--dark-background-buttons);
  border: 2px solid var(--dark-background-buttons-border);
  padding: 6px 10px;
}

.buttons:hover {
  color: var(--text-primary);
}

.date {
  padding: 0px 0px 0px 0px;
}
